<!-- Why Us Component -->
<section id="nosotros" class="why-section" x-data="whyUs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="why-title">
                    ¿Por qué elegir <span x-text="highlight + '?'"></span>
                </h2>
                <p class="why-description" x-text="description"></p>
                <div class="why-features">
                    <template x-for="feature in features" :key="feature.title">
                        <div class="why-feature-item">
                            <div class="why-feature-icon">
                                <i :class="feature.icon"></i>
                            </div>
                            <div class="why-feature-content">
                                <h4 x-text="feature.title"></h4>
                                <p x-text="feature.description"></p>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-images-grid">
                    <template x-for="(img, index) in images" :key="index">
                        <div class="why-image-item" :class="'why-image-' + (index + 1)">
                            <img :src="img.src" :alt="img.alt">
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</section>
